body {
  align-items: center;
  background-color: skyblue;
  display: flex;
  height: 90vh;
  justify-content: center;
  width: 90vw;
}

ol, ul {
padding-left: 30px;
}

.board-row:after {
clear: both;
content: "";
display: table;
}

.status {
margin-bottom: 10px;
}

.square {
background: #fff;
border: 2px solid #999;
float: left;
font-size: 100px;
font-weight: bold;
line-height: 100px;
height: 100px;
margin-right: -2px;
margin-top: -2px;
padding: 0;
text-align: center;
width: 100px;
}

.square:hover {
  background-color: #102a63;
}

.square:focus {
outline: none;
}

.kbd-navigation .square:focus {
background: #ddd;
}

.game {
display: flex;
flex-direction: row;
}

.game-info {
margin-left: 20px;
margin-top: 100px;
}
